:root{
  --nav-bar-color:rgba(0,0,0,.55);
  --nav-bar-color-dark:#FFF;
  --nav-bar-bg-color-dark:#2b3945;
  --dark-items-bg-color:#414e59;
  --dark-bg-color:#202c37;
  --light-items-color:#FFF;
  --light-font-color:gray;
}
#light{
  background-color: #eee;

}

#dark .navbar-section{
  background-color: var(--nav-bar-bg-color-dark) !important;
  color: var(--nav-bar-color-dark) !important;
}
#dark .navbar-brand,
#dark .fa-moon{
  color: var(--nav-bar-color-dark) !important;
}
#dark .btn-light{
  background-color: var(--nav-bar-bg-color-dark);
  color: var(--nav-bar-color-dark);
}
.navbar{
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
  color:var(--nav-bar-color);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 3%;
}
.navbar-brand{
  color: var(--nav-bar-color);
  font-weight: 700;
}
.navbar-brand:hover{
  color: var(--nav-bar-color);
}
.btn-light{
  display: flex;
  gap:15px;
  align-items: center;
  color: var(--nav-bar-color);
  font-weight: 600;
}
.btn-light:hover{
  border: rgba(0,0,0,.075) transparent;
}
.fa-moon{
  color: #000;
}

.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
  width: 90%;
  margin: 0 auto 2%;
}
.search-input{
  padding-left: 4rem;
  padding-bottom: 0.7rem;
  padding-top: 0.4rem;
  width: 100%;
  
  
}
.search-bar input{
  border: 0;
  outline: none;
  background: transparent;
  height: 100%;
}


.search-bar{
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  width: 40%;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  height: 30px;
}
#dark .search-bar,#dark .search-input{
  background-color: var(--dark-items-bg-color);
  color: var(--nav-bar-color-dark);
}
.filter-bar{
  width: 40%;

}
select{
  width: 100%;
}
#dark select{
  background-color: var(--dark-items-bg-color);
  color: var(--nav-bar-color-dark);
}
#dark .Mains{
  background-color: var(--dark-bg-color) !important;
  color: var(--nav-bar-color-dark);
}


.country{
  
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  
  
}
.card{
  background-color: var(--light-items-color);
  
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  cursor: pointer;
  border-radius: 5px;
  height: 330px;
  margin-bottom:8%;
  width: 280px;
  

}
.card .flag-country{
  height: 170px;
  width: 100%;
}

.card .flag-country img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .name{
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 10px;
  
}
.card .values{
  color: var(--light-font-color);
  font-weight: 450;
}
.card .details{
 
  
}
.card .details p{
  margin-bottom: 10px;
  font-weight: 400;
  margin-left: 10px;
}
.liner{
  background-color:gray;
  height: 1px;
  width: 100%;
  right: 0;
  left: 0;
}

/*Dark mode */
#dark .card{
  background-color: var(--dark-items-bg-color);
  color: var(--nav-bar-color-dark);
}
#dark .values{
  color: #eee;
}

.country-details{
  margin: 15px auto 0;
  padding: 15px;
  min-height: 100vh;
}

.btn-back{
  background-color: var(--light-items-color);
  color: var(--light-font-color);
  border: 0;
  outline: 0;
  box-shadow: 0px 3px 15px rgba(0,0,0,.2);
  margin-bottom: 25px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;

}
.btn-back p{
  margin-bottom: 0;
}

.country-details-body{
  margin: 2% auto 0;
  padding: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.img-container,
.info{
  flex: 0.5;
}

.info h2{
  margin-bottom: 3%;
}
.img-container img{
  width: 100%;
  object-fit: cover;
}

.info-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;

}


.info .values{
  color: var(--light-font-color);
  margin-left: 1%;
  font-weight: 500;

}
.data-info{
  box-shadow: 0px 3px 15px rgba(0,0,0,.2);
  padding: 0.2rem 0.2rem 0;
  margin: 1%;

}
.border-countries-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.border-countries-container p{
  margin-bottom: 0;
}
.border-countries{
  padding: 0.2rem; 
  
  background: transparent;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-width: 0;
  border: none;
  gap: 10px;
  

}
.border-countries-container p{
  font-weight: 700;
}
.border{
  line-height: 1.5;
  font-weight: 500;
  box-shadow: 0px 3px 15px rgba(0,0,0,.2);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
}

::placeholder{
  color: #414e59
}
#dark ::placeholder{
  color: var(--light-items-color);
}
#dark .btn-back,
#dark .border-countries,
#dark .border{
  background-color: var(--dark-items-bg-color);
  color: var(--nav-bar-color-dark);
}

#dark .info .values{
  color: #eee;
}



